<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./ASSETS/CSS/style.css">

    </head>
    <body>
        <div id="root">
            <header>
                <div class="logo">
                    <img :src="logoImg" alt="">
                </div>
                <div class="inputContainer">
                    <input type="text" placeholder="Nuovo Todo" id="inputTodo">
                    <input type="button" value="Aggiungi" id="submit">
                </div>
            </header>
            <div class="container">
                <ul class="card_container" v-if='!error'>
                    <li v-for='(task, index) in tasks'>
                        {{task}}
                        <div>
                            <span @click="checked(index)"
                                :class="{checked:completedTasks.includes(index)}">
                                <i class="fas fa-check-circle"></i>
                            </span>
                            <span @click='removeTask(index)'>
                                <i class="fas
                                    fa-times"></i>
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="noTask">
                    <h4 v-show='error'>
                        Nulla da fare
                    </h4>
                </div>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="./ASSETS/JS/main.js"></script>
    </body>
</html>