<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./ASSETS/CSS/style.css">

    </head>
    <body>
        <div id="root">
            <header>
                <div class="logo">
                    <img :src="logoImg" alt="">
                </div>
                <div class="inputContainer">
                    <input v-model="newTask" type="text"
                        placeholder="Nuovo Todo"
                        id="inputTodo">
                    <input @click='addTask'type="button" value="Aggiungi"
                        id="submit">
                    <h3 v-show='error'>Devi inserire 6 o pi&uacute; caratteri</h3>
                </div>
            </header>
            <main>
                <div class="taskContainer">
                    <ul class="card_container" v-show='!complete'>
                        <li v-for='(task, index) in tasks'>
                            {{task}}
                            <div>
                                <span>
                                    <i @click="checked(index)"
                                        class="fas fa-check-circle"></i>
                                </span>
                                <span @click='removeTask(index)'>
                                    <i class="fas
                                        fa-times"></i>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="noTask">
                        <h4 v-show='complete'>
                            Nulla da fare
                        </h4>
                    </div>
                </div>
                <div class="toDoContainer">

                </div>
            </main>


        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="./ASSETS/JS/main.js"></script>
    </body>
</html>