<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To Do List</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
            integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="./ASSETS/CSS/style.css">

    </head>
    <body>
        <div id="root">
            <header>
                <h1>To Do App</h1>

                <div class="functions">
                    <h4>You can:</h4>
                    <ul>
                        <li>Add List</li>
                        <li>Complete List</li>
                        <li>Delete List</li>
                        <li>Recycle Deleted</li>
                        <li>Redo List</li>
                    </ul>
                </div>


                <div class="inputContainer">
                    <input @keyup.enter="addTask" v-model="newTask" type="text"
                        placeholder="New Task"
                        id="inputTodo">
                    <input @click='addTask'type="button" value="Add"
                        id="submit">
                    <h3 v-show='error'>Please insert 6 or more characters!</h3>
                </div>
            </header>
            <!-- ./LOGO E TO DO INPUT -->
            <main>
                <div class="taskContainer">
                    <h2>
                        To Do List
                    </h2>
                    <ul class="card_container" v-show='!noTask'>
                        <li v-for='(task, index) in tasks'>
                            <h6 class="task">{{task}}</h6>
                            <div>
                                <span>
                                    <i @click="checkedTask(index)"
                                        class="fas fa-check-circle"></i>
                                </span>
                                <span @click='removeTask(index)'>
                                    <i class="fas
                                        fa-times"></i>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="noTask">
                        <h4 v-show='noTask'>
                            Add something to do.
                        </h4>
                    </div>
                </div>
                <!-- ./TO DO SECTION -->

                <div v-if='!complete' class="completedContainer">
                    <h2>
                        Completed
                    </h2>
                    <ul>
                        <li v-for="(task, index) in completedTasks">
                            <h6 class="task">{{task}}</h6>
                            <div>
                                <span @click="redoTask(index)">
                                    <i class="fas fa-redo"></i>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ./COMPLETED SECTION -->

                <div v-if='!emptyBin' class="trashbin">
                    <h2>
                        Trashed
                        <span class="delete" @click="deleteAll">
                            (Empty Bin)
                        </span>
                    </h2>
                    <ul>
                        <li v-for="(task, index) in deletedTasks">
                            <h6 class="task">{{task}}</h6>
                            <div>
                                <span @click="restoreTask(index)">
                                    <i class="fas fa-trash-restore-alt"></i>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- ./RECYCLEBIN SECTION -->
            </main>


        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="./ASSETS/JS/main.js"></script>
    </body>
</html>